<!--
NAME : Basim Ajoub.
EMAIL :basemajoub2@gmail.com.
Electronics & Communications Engineer.
-->

<!DOCTYPE html>
<html>

<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>




<body>
<div class="main">

 <!--START HEAD-->
    <div class="head">

                    <div class="websiteheader">
                        <div class="batoul"><a href="#"><h3>BATOUL FASHION</h3></a></div>

                        <div class="gender">
                            <div class="women"><a href="#"><h6>Women's</h6></a></div><div class="men"><a href="#"><h6> Men's</h6></a></div>
                         </div>
                    </div>
    </div>

 <!--END HEAD-->




<!--START SLID and content-->
<div class ="medium">



<!--START CONTENT-->

    <div class="content">


        <!--<div class="cont contact"><h1>Informations:</h1><p>hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world   hello world hello world hello world hello world hello world hello world hello world hello world hello world </p></div>-->

            <div class="services">

                <div class="serv one">
                     <a href="#"><div class="image"><img src="static/images/shippment.png" alt="one"></div><div class="discriptions"><h4>Fast Shippment </h4></div></a>
                </div>
                <div class="serv tow">
                    <a href="#"><div class="image"><img src="static/images/return.png" alt="one"></div><div class="discriptions"><h4>Refund & Change</h4></div></a>
                </div>


            </div>



    </div>
 <!--END CONTENT-->



<!--START SLID-->

        <div class="slid">
            <div class="social">
                <div class="soc facebook"><a href="https://www.facebook.com/batoul_hasroumi-111509796986151" target="_blank" ><img src="static/images/facebook.png" alt="facebook"></a></div>
                <div class="soc instegram"><a href="https://www.instagram.com/batoul_hasroumi/" target="_blank"><img src="static/images/instegram.png" alt="instagram"></a></div>

            </div>





        </div>

<!--END SLID-->

</div>

<!--START FOOTER-->
        <div class="box foot">

            <div class="information">
                  © 2021-2022 All Rights Reserved     BATOUL FASHION



             </div>
        </div>
<!--END FOOTER-->

</div>
</body>


</html>
